// Font Poppins
@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-Bold.otf");
  font-family: "Poppins-Bold";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-ExtraBold.otf");
  font-family: "Poppins-ExtraBold";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-Medium.otf");
  font-family: "Poppins-Medium";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-Regular.otf");
  font-family: "Poppins-Regular";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-SemiBold.otf");
  font-family: "Poppins-SemiBold";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-Light.otf");
  font-family: "Poppins-Light";
}

@font-face {
  src: url("~@/assets/fonts/Poppins/Poppins-ExtraLight.otf");
  font-family: "Poppins-ExtraLight";
}

//Roboto
@font-face {
  src: url("~@/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}
@font-face {
  src: url("~@/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-family: "Roboto-Bold";
}
