.detail__job {
  &-title {
    font-family: "Roboto-Bold";
    font-size: 1.5rem;
    color: #334680;
    margin: 0 0 4px 0;
    & ~ .label-full-time {
      margin: 0 0 9px 0;
    }
  }
  &-main-info {
    margin: 2.25rem 0 0 0;
  }
  &-mini-card-info {
    display: flex;
  }
  &-image {
    width: 42px;
    height: 42px;
    margin: 0 12px 0 0;
  }
  &-mini-card-info {
    margin: 0 0 34px 0;
  }
  &-main-info-additional {
    h4 {
      font-family: "Roboto-Bold";
      font-size: 1.125rem;
      color: #334680;
      margin: 0 0 10px 0;
    }
  }
  &-description {
    font-family: "Roboto-Regular";
    color: #334680;
    line-height: 24px;
    vertical-align: top;
  }
}
